<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Harmony Technologies</title>
    <meta name="description" content="Harmony Technologies is a technical services and solutions providing company in private sector islamabad pakistan">
    <meta name="author" content="usmanali,waqararshad">
    <meta name="keyword" content="educational solutions,technical products,technical products and solutions,
          institutional consultancy,registration,affiliation,accreditation">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/fontello.css">
    <link href="~/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="~/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="~/assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="~/assets/css/price-range.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">

</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="header-connect">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8  col-xs-12">
                    <div class="header-half header-call">
                        <p>
                            <span><i class="pe-7s-call"></i> +92 51 8736667-8</span>
                            <span><i class="pe-7s-mail"></i> info@htech.com.pk</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                    <div class="header-half header-social">
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/htech.com.pk/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vine"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!--End top header -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/assets/img/logo.png" alt="Htech Logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick="" data-wow-delay="0.45s">Login</button>
                    @*<button class="navbar-btn nav-button wow fadeInRight" onclick="window.open('submit-property.html')" data-wow-delay="0.48s">Submit</button>*@
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">

                    <!-- <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="properties.html">Trainings</a></li> -->
                    <li class="dropdown yamm-fw" data-wow-delay="0.4s">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Trainings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Educational Solutions</h5>
                                            <ul>
                                                @*<li><a href="#">Trainings </a></li>*@
                                                <li>@Html.ActionLink("Trainings", "EduSolTraining", "Trainings")</li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Solutions <b class="caret"></b></a>
                        <ul class="dropdown-menu navbar-nav">
                            <li>
                                @Html.ActionLink("Educational Solutions", "EducationalSolutions", "Solutions") 
                            </li>
                            <li>
                                @Html.ActionLink("Technical Products & Solutions", "TechnicalProductsandSolutions", "Solutions") 
                            </li>

                        </ul>
                    </li>




                    <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Institutional Consultancy <b class="caret"></b></a>
                        <ul class="dropdown-menu navbar-nav">
                            <li>
                                @Html.ActionLink("E-2-E Consultancy", "EtoE", "InstitutionalConsultancy") 
                            </li>
                            <li>
                                @Html.ActionLink("Registration", "Registration", "InstitutionalConsultancy")
                            </li>
                            <li>
                                @Html.ActionLink("Affiliation", "Affiliation", "InstitutionalConsultancy")
                            </li>
                            <li>
                                @Html.ActionLink("Accreditation", "Accreditation", "InstitutionalConsultancy")
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw" data-wow-delay="0.4s">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>
                                                Educational Services
                                            </h5>
                                            <ul>
                                                <li>
                                                    @Html.ActionLink("Consultancy Services", "ConsultancyServices", "Services")
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Educational Services", "EducationalServices", "Services")
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Scientific and Technical Event Management", "ScientificandTechnical", "Services")
                                                </li>
                                                <li>
                                                    @Html.ActionLink("HR Outsourcing", "HRoutsourcing", "Services")
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Monitoring and Evaluation Services", "MonitoringandEvaluatioServices", "Services")
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Business Process Outsourcing (BPO)</h5>
                                            <ul>
                                                <li>@Html.ActionLink("Media and Communication", "MediaandCommunication", "Services")</li>
                                                <li>@Html.ActionLink("Financial Management Services", "MonitoringandEvaluatioServices", "Services")</li>
                                                <li>@Html.ActionLink("Marketing and Mobilization.", "MarketingandMobilization", "Services")</li>
                                                <li>@Html.ActionLink("Placement Services", "PlacementServices", "Services")</li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Technical Solutions</h5>
                                            <!-- <ul>
                                                <li><a href="property-1.html">Property pages style (1)</a> </li>
                                                <li><a href="property-2.html">Property pages style (2)</a> </li>
                                                <li><a href="property-3.html">Property pages style (3)</a> </li>
                                            </ul> -->

                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="contact.html">Educational Laboratories </a></li> -->
                    <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
                            Educational Laboratories
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu navbar-nav">
                            <li>
                                @Html.ActionLink("Engineering College Labs", "EngineeringCollegeLabs", "EducationalLaboratories")
                            </li>
                            <li>
                                @Html.ActionLink("Networking IT Labs", "NetworkingITLabs", "EducationalLaboratories")
                            </li>
                            <li>
                                @Html.ActionLink("Medical Labs", "MedicalLabs", "EducationalLaboratories")
                            </li>
                            <li>
                                @Html.ActionLink("School/College Labs", "SchoolCollegelabs", "EducationalLaboratories")
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Company <b class="caret"></b></a>
                        <ul class="dropdown-menu navbar-nav">
                            <li>
                                @Html.ActionLink("Overview/About us", "OverviewAboutus", "Company")
                            </li>
                            <li>
                                @Html.ActionLink("Contact us", "Contactus", "Company")
                            </li>
                            <li>
                                @Html.ActionLink("Our Partners", "OurPatners", "Company")
                            </li>
                            <li>
                                @Html.ActionLink("Others", "Other", "Company")
                            </li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->
    <div>

        @RenderBody()
        
        <footer>
            <!-- Footer area-->
            <div class="footer-area">
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                                <div class="single-footer">
                                    <h4>HTECH </h4>
                                    <div class="footer-title-line"></div>
                                    <img src="~/assets/img/logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                                    <p>
                                        For a workforce to remain competitive and employable in today's fast-changing workplace, they must have both knowledge and skills that are relevant, current and according to the requirements of employers.
                                    </p>
                                    <ul class="footer-adress">
                                        <li><i class="pe-7s-map-marker strong"> </i> Plot No. 176, Industrial Area, I-10/3, Islamabad.</li>
                                        <li><i class="pe-7s-mail strong"> </i> info@htech.com.pk</li>
                                        <li><i class="pe-7s-call strong"> </i> +92 51 8736667-8 </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                                <div class="single-footer">
                                    <h4>Quick links </h4>
                                    <div class="footer-title-line"></div>
                                    <ul class="footer-menu">
                                        <li>  @Html.ActionLink("Affiliation", "Affiliation", "InstitutionalConsultancy")</li>
                                        <li><a href="#">Projects</a>  </li>
                                        <li>
                                             @Html.ActionLink("Scientific and Technical Event Management", "ScientificandTechnical", "Services")
                                            
                                        </li>
                                        <li>
                                        <li>@Html.ActionLink("Media and Communication", "MediaandCommunication", "Services")</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                                <div class="single-footer">
                                    <h4>Last News</h4>
                                    <div class="footer-title-line"></div>
                                    <ul class="footer-blog">
                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="single.html">
                                                    <img src="~/assets/img/demo/small-proerty-2.jpg">
                                                </a>
                                                <span class="blg-date">12-12-2017</span>
                                            </div>
                                            <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                                <h6> <a href="single.html">Add news functions </a></h6>
                                                <p style="line-height: 17px; padding: 8px 2px;">Upcoming Admissions ...</p>
                                            </div>
                                        </li>

                                        @*<!-- <li>
                                    <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                        <a href="single.html">
                                            <img src="assets/img/demo/small-proerty-2.jpg">
                                        </a>
                                        <span class="blg-date">12-12-2016</span>

                                    </div>
                                    <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                        <h6> <a href="single.html">Add news functions </a></h6>
                                        <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                    </div>
                                </li>   -->
                                        <!-- <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="assets/img/demo/small-proerty-2.jpg">
                                    </a>
                                    <span class="blg-date">12-12-2016</span>

                                </div> -->
                                        <!-- <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Add news functions </a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                </div> -->
                                        </li>*@


                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                                <div class="single-footer news-letter">
                                    <h4>Stay in touch</h4>
                                    <div class="footer-title-line"></div>
                                    <p>You can contact us.........</p>
                                    <form>
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="E-mail ... ">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </form>
                                    <div class="social pull-right">
                                        <ul>
                                            <li><a class="wow fadeInUp animated" href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a class="wow fadeInUp animated" href="https://www.facebook.com/htech.com.pk/" data-wow-delay="0.2s" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-copy text-center">
                    <div class="container">
                         <div class="row">
                        <div class="center">
                     <span> &copy; <a href="http://www.htech.com.pk">Harmony Technologies</a> , @DateTime.Now.Year  </span>
                        </div> 
                       @*<div class="bottom-menu pull-right">
                    <ul>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                    </ul>
                </div>*@
                    </div>
                </div>
            </div>
          </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
    <script src="~/assets/js/modernizr-2.6.2.min.js"></script>
    <script src="~/assets/js/jquery-1.10.2.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>
    <script src="~/assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/assets/js/easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/icheck.min.js"></script>
    <script src="~/assets/js/price-range.js"></script>
    <script src="~/assets/js/main.js"></script> 
</body>
</html>
